<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystems

**Introduction:-**
   **In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**

1. List popular languages that Data Scientists use.
2. List commonly used libraries used by Data Scientists.
3. Comment on Data Science tools.

**Some of the popular languages that Data Scientist use are:**

1. Julia
2. R Language
3. Python
4. SQL

**Some of the commonly used libraries by Data Scientists are:**

1. Pandas
2. NumPy
3. Keras
4. TensorFlow
5. PyTorch
6. MatPlotlib
7. Seaborn
8. SciKit-Learn

**The following are the tools used by Data Scientists:**

| Data Science Tools |
| ----------- |
| 1. Apache Hadoop |
| 2. Apache Spark |
| 3. Apache Hive |
| 4. BigML |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
2+3

5

In [8]:
(6*4)/6

4.0

In [9]:
50-35

15

**Create a code cell to multiply and add numbers**

In [10]:
(3*4)+5

17

**Create a code cell to convert minutes to hours**

In [11]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

In [12]:
#200 m are supposed to be converted into minutes
#we know, 1 hr=60 minutes
#hence, 200hr = 200 x 60 = 
200*60

12000

## Author:

Lakshmi Holla

Niveditha Pandith